@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-family: 'EB Garamond', serif;
}

.logo {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 2rem;
}

.center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.align-right {
    align-items: right;
}

/*----- Footer CSS -----*/

footer{
    padding-top: 20px;
}

.social-media-links li {
    list-style: none;
}

.social-media-links a{
    text-decoration: none;
    font-size: 2rem;
    color: #000000
}

.social-media-links a:hover {
    color: #feb600
}

/*----- Home page CSS -----*/

.jtron {
    background: #000000;
    color: #ffffff;
    margin: 2rem;
}

.hero-img {
    background: url(https://res.cloudinary.com/dilxh0pwa/image/upload/v1693035596/harrys-restaurant/media/harry_s-restaurant-heroimg_vakvb7.jpg) no-repeat;
    padding: 2rem
}

.hero-title {
    margin-bottom: 3rem;
}

.hero-text {
    margin-bottom: 3rem;
}

.home-msg {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/*----- Bookings page CSS -----*/



.add-booking-btn {
   margin: 1rem;
}

.edit-booking-btn {
    margin: 2rem;
}

.cancel-booking-btn {
    margin: 2rem;
}

/*----- Form CSS -----*/

form {
    margin: 50px;
}

@media screen and (max-width: 768px) {
    form {
        margin: 10px;
    }
}

.form-header {
    text-align: center;
    margin-top: 20px;
}

/*----- Menu CSS -----*/

.dish-category {
    font-family: 'EB Garamond', serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size:3rem;
}

.dish-title {
    font-weight: 500;
    font-size: 1.2rem;
}

.menu-title {
    font-family: 'EB Garamond', serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 5rem;
}