@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

footer{
    color: #ffffff;
    background-color: #383838;
    padding-top: 20px;
    width: 100%;
}

.logo {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 2rem;
}

.social-media-links li {
    list-style: none;
}

.social-media-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.social-media-links a:hover {
    color: #e6930e
}

/*----- Form CSS -----*/

form {
    margin: 50px;
}

@media screen and (max-width: 768px) {
    form {
        margin: 10px;
    }
}

.form-header {
    text-align: center;
    margin-top: 20px;
}