{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry's Restaurant</title>
    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Custom CSS stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md bg-light">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="{% url 'home' %}">Harry's Restaurant</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'bookings' %}">Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menu' %}">Menu</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
    <footer class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Opening Times</h3>
          <p>Monday - Sunday: 11:00am - 11:00pm</p>
        </div>
        <div class="col-md-4" >
          <h3>
            Social Media Links
          </h3>
          <ul class="social-media-links">
            <li>
              <a href="https://en-gb.facebook.com/" aria-label="Link to Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>  
              <a href="https://www.instagram.com/" aria-label="Link to Instagram" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            </li>
            <li>  
              <a href="https://www.youtube.com/" aria-label="Link to YouTube" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Contact Details</h3>
          <h4>Address</h4>
          <p>118 Piccadilly</p>
          <p>Mayfair</p>
          <p>London</p>
          <p>W1J 7NW</p>
          <h4>Phone Number</h4>
          <p>020 7946 0157</p>
          <h4>Email</h4>
          <p>mail@harrysrestaurant.co.uk</p>
        </div>
      </div>
    </footer>
    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- Fontawesome script -->
    <script src="https://kit.fontawesome.com/8c5d0bea72.js" crossorigin="anonymous"></script>
  </body>
</html>