{% extends "base.html" %}

{% block content %}
<div class="container">
    <a href="{% url 'add-booking' %}">
        <button class="btn btn-success add-booking-btn">Add Booking</button>
    </a>
    <h2>Your Bookings</h2>
    {% for booking in object_list %}
    <div class="row">
        <div class="col">
            <p class="booking-number">Booking number: <a href="{% url 'booking-details' booking.pk %}">{{ booking.id }}</a></p>
            <p class="booking-name">Booking name: {{ booking.first_name }} {{ booking.last_name }}</p>
            <p class="booking-date">Booking date: {{ booking.date }}</p>
            <p class="booking-time">Booking time: {{ booking.time }}</p>
        </div>
        <a href="{% url 'edit-booking' booking.pk %}">
            <button class="btn btn-primary edit-booking-btn">Edit</button>
        </a>
        <a href="{% url 'delete-booking' booking.pk %}">
            <button class="btn btn-danger cancel-booking-btn">Cancel</button>
        </a>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}