{% extends "base.html" %}

{% block content %}
<div class="container center">
    <h1 class="home-header">Harry's Restaurant</h1>
    <p class="home-msg">Harry’s Restaurant is a beautiful family run restaurant and beer garden 
        based in the heart of Mayfair, London. Serving some of the finest food in the area, 
        from classic British dishes to our chefs daily specials. We are here to make your 
        time with us the best it can be, so sit back, relax, eat, drink, smile and laugh</p>
</div>
{% endblock %}