{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="menu-title center">Menu</h1>
    <h3 class="dish-category center">Starters</h3>
    <div class="row">
        <div class="col-md-6">
            <p class="dish-title">Soup of the day</p>
            <p>Served with homemade bread</p>
        </div>
        <div class="col-md-6">
            <p class="dish-title">Mozzarella Sticks</p>
            <p>Deep fried mozzarella in breadcrumbs served with spicy 
                hot tomato sauce and garnished salad</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="dish-title">Stuffed Mushroom</p>
            <p>Field mushrooms topped with mixed roasted peppers, onion, garlic, white wine, 
                grilled goats cheese, balsamic dressing and garnished with rocket</p>
        </div>
        <div class="col-md-6">
            <p class="dish-title">Breaded Calamari</p>
            <p>Deep fried squid, served with garlic, mayo and garnished salad</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="dish-title">Lightly Spiced Chicken Wings</p>
            <p>Coated in a choice of house BBQ , Tabasco or sweet chilli sauce</p>
        </div>
        <div class="col-md-6">
            <p class="dish-title">Harry's Prawn Cocktail</p>
            <p>Atlantic prawns served on crisp lettuce with our own special sauce</p>
        </div>
    </div>

    <h3 class="dish-category center">Mains</h3>

    <div class="row">
        <div class="col-md-6">
            <p class="dish-title">Sauasage & Mash</p>
            <p>Cumberland sausages on a bed of creamy mashed potato and onion gravy</p>
        </div>
        <div class="col-md-6">
            <p class="dish-title">Lamb Shank</p>
            <p>Garlic and rosemary braised lamb shank with mashed potato and lamb jus</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="dish-title">Steak & Ale Pie</p>
            <p>An individual puff pastry topped pie, served with buttered 
                vegetables and creamy mashed potato</p>
        </div>
        <div class="col-md-6">
            <p class="dish-title">8oz Fillet</p>
            <p>with chips, mushroom, tomato and watercress</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="dish-title">Salmon Linguini</p>
            <p>Pan seared salmon supreme, lobster cream sauce, mussels and prawns, 
                linguini pasta and chives</p>
        </div>
        <div class="col-md-6">
            <p class="dish-title">Harry's Burger</p>
            <p>Angus beef burgers served in a brioche bun with bacon, 
                cheese, gherkin, tomato, salad and chips</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="dish-title">Spaghetti Bolognese</p>
            <p>100% British prime minced beef ragu</p>
        </div>
        <div class="col-md-6">
            <p class="dish-title">Mixed Grill</p>
            <p>Lamb cutlet, 6oz Sirloin, liver and sausage served with mushroom, 
                tomato, egg and chips</p>
        </div>
    </div>

    <h3 class="dish-category center">Deserts</h3>

    <div class="row">
        <div class="col-md-6">
            <p class="dish-title">Chocolate Brownie</p>
            <p>Served with chocolate sauce and chocolate ice cream</p>
        </div>
        <div class="col-md-6">
            <p class="dish-title">Apple Crumble</p>
            <p>Served with caramel sauce and your choice of ice cream, custard or cream</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="dish-title">Treacle Sponge</p>
            <p>Served with custard</p>
        </div>
        <div class="col-md-6">
            <p class="dish-title">Cheesecake Of The Day</p>
            <p>Please ask your server for today’s choices</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="dish-title">Mixed Ice Cream</p>
            <p>A selection of scoops of your choice, vanilla, chocolate or strawberry</p>
        </div>
        <div class="col-md-6">
            <p class="dish-title">Homemade Tiramisu</p>
            <p>Layers of mascarpone and soft sponge drenched in our espresso coffee and soaked in Amaretto</p>
        </div>
    </div>
</div>
{% endblock %}